html
    head
        tite **Please fill the form to create account!**
    body
        form(action="/create" method="post")
            div Name
            input(type='text', name="name", placeholder="Name")
            div Email
            input(type='email',  name="email", placeholder="Email")
            div Password
            input(type='password', name="password", placeholder="Password")
            div Age
            input(type="number" name='age')
            button(type="Submit") Submit