html
    head
        title login
    body
        div
            a(href='/login') Login
        div   
            a(href='/create') Add user
        div
            a(href='/logout') Logout
        div
            a(href='/UserListing') User Listings